& {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operators {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.operator {
    background-color: rgb(161, 211, 255);
}
.numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 100%;
}
button {
    border: none;
    transition: all 0.15s;
    font-size: 2rem;
    padding: 5px;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}
button:active {
    filter: brightness(0.8);
}

.display {
    width: 100%;
    height: 70px;
    background-color: rgb(200, 229, 255);
    border-radius: 1rem;
    padding: 10px;
    text-align: right;
    font-size: 2rem;
}

.operator-active {
    background-color: aliceblue;
}